{% extends 'base_bs_form.html' %}
{% load markdown_deux_tags %}

{% block field_label %}

    {% if field.help_text %}
        <label for="{{field.id_for_label}}">{{ field.help_text }}</label>
    {% else %}  
        {{ field.label_tag }}
    {% endif %}
    
{% endblock %}


{% block morefield %}

{% if field.name == 'duration' %}
    <small class="form-text text-muted">If it takes less than five minutes, don't make a task - do it now</small>
{% elif field.name == 'notes' %}
    <small class="form-text text-muted">
        <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown syntax</a> allowed, but no raw HTML. Examples: **bold**, *italic*, indent 4 spaces for a code block.
    </small>
{% endif %}



{% endblock %}