{% load widget_tweaks %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}

{% for field in form %}
    {% block field_render %}
        <div class="form-group">
            
            {% block field_label %}
                {{ field.label_tag }}
            {% endblock %}
            
            {% if form.is_bound %}
                {% block bound_render %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% endblock %}
            {% else %}
                {% block unbound_render %}
                    {% render_field field class="form-control" %}
                {% endblock %}
            {% endif %}
            
            {% block morefield %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
{% endfor %}
