<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>soon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <script type="text/javascript" src="{% static 'todo/bootstrap/dist/js/bootstrap.min.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'todo/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}" />
    
    {% block extrahead %} {% endblock %}
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'todo:home' %}">soon</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="topNavbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'todo:home' %}">home</a>
                    {% block nav %}{% endblock %}
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>