{% extends "logged_in_generic.html" %}

{% block content %}

<h1>Tasks</h1>
    {% if object_list %}
        <div class="list-group">
            {%for task in undoneTasks %}
                <a 
                    class= "list-group-item list-group-item-action" 
                    href="{% url 'todo:edit' task.id %}">{{ task.title }}
                </a>
            {% empty %}
                <p class="list-group-item">No tasks</p>
            {% endfor %}
        </div>
        
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#doneTaskList" aria-expanded="false" aria-controls="collapseDoneTasks">Show completed tasks</button>
    
        <div class="list-group collapse" id="doneTaskList">
            {% for task in doneTasks %}
                <a 
                    class= "list-group-item list-group-item-action text-muted" 
                    href="{% url 'todo:edit' task.id %}">{{ task.title }}
                </a>
            {% empty %}
                <p class="list-group-item">No tasks</p>
            {% endfor %}
        </div>
    {% else %}
        <p class="lead">
            You don't have any tasks yet.
            <a href="{% url 'todo:add' %}">Add some.</a>
        </p>
    {% endif %}

{% endblock %}
