{% extends "logged_in_generic.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <p> {{ message }} </p>
    {% endfor %}
{%endif%}

<div class="jumbotron">
    {% if task %}
        <h1 class="display-4">{{ task.title }}</h2>
        <p class="lead">{{ task.notes }}</p>
        
        <form action="{% url 'todo:complete' task.id %}" method="post"> {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Finished it">
        </form>
        
        <a href="{% url 'todo:edit' task.id %}">Edit it</a>
    {% else %}
        <p class="lead">No unfinished tasks</p>
    {% endif %}
    <a href="{% url 'todo:add' %}">New task</a>
</div>



{% endblock %}