{% extends "logged_in_generic.html" %}
{% load markdown_deux_tags %}

{% block content %}

<div class="jumbotron">
    {% if task %}
        <h1 class="display-4">{{ task.title }}</h1>
        <small>
            <a href="{% url 'todo:edit' task.id %}">Edit this task</a>
            |             
            <a href= "{% url 'todo:delete' object.id %}" >Delete this task</a>
        </small>
        <hr />
        <p class="lead">{{ task.notes|markdown }}</p>
        
        <form action="{% url 'todo:complete' task.id %}" method="post"> {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Finished it">
        </form>
        
        
    {% else %}
        <p class="lead">No unfinished tasks. <a href="{% url 'todo:add' %}">Add some.</a></p>
    {% endif %}
</div>



{% endblock %}